.contentArea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0 16px;
}


/* Tablet */
@media (min-width: 768px) {
    .contentArea {
        padding-left: 5rem;
        padding-right: 2rem;
    }
}

/* Desktop */
@media (min-width: 1100px) {
    .contentArea {
        width: 60%;
        padding-left: 15rem;
        padding-right: 0;
    }
}